/* Quiz styles */

// Variables
$basefont: sans-serif;
$bgc: aliceblue;
$ml: 50px;
$pdg: 10px;

//Mixin for border and border radius

@mixin border($size: 20px, $color: #064277, $brsize: 20px){
    border: $size solid $color;
    border-radius: $brsize;
}

header {
    @include border;
    margin: 10px auto;
    padding: $pdg;
    background-color: $bgc;
    text-align: center;
}

body {
    width: 600px;
    margin: auto;
    font-family: $basefont;
    font-size: 1em;
    font-style:oblique;
    background-color: #dadadb;
}


h1 {
    color:#58a0e0;
}

#content {
    @include border;
    margin: 10px auto;
    padding: $pdg;
    background-color: $bgc;
}

#list{
    @include border(2px);
    background-color: $bgc;
}

h2 {
    color: #064277;
}

h3 {
    margin-left: $ml;
    color:#58a0e0
}

ul{
    margin-left: $ml;
}

p{
    font-family: serif;
    font-style:normal;
}

.samplepara {
    @include border(3px,#58a0e0,5px);
    padding: 10px;
    background-color: white;
}

footer {
    @include border(2px);
    border: 2px solid #064277;
    border-radius: 20px;
    margin: 10px auto;
    padding: 10px;
    background-color: $bgc;


#footer {
    font-size: .75em;
    font-style:italic;
    font-weight: bold;
    color: #064277;
    text-align: center;
}
} //nested font properties

